html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#dcg-header-container {
    width: 100%;
    height: 46px;
    background: #2a2a2a;
    line-height: 46px;
    overflow: hidden;
    color: #ddd;
    box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #000;
}

#graph-container {
    flex-grow: 1;
}

/* Fixes tooltip display issue inside the header */
.dcg-calculator-api-container .dcg-tooltip-mount-pt {
    position: fixed;
    z-index: 1;
}

/* Tooltips now use display flex */
.dcg-tooltip-message-container {
    display: flex;
    flex-direction: column;
}

/* The width of the tooltip should fit the content not grow */
.dcg-tooltip-message-container .dcg-tooltip-message {
    width: fit-content;
}

/* if gravity is north east or south east */
.dcg-tooltip-gravity-ne-se .dcg-tooltip-message {
    align-self: flex-start;
}

/* if gravity is north or south */
.dcg-tooltip-gravity-n-s .dcg-tooltip-message {
    align-self: center;
}

/* if gravity is north west or south west */
.dcg-tooltip-gravity-nw-sw .dcg-tooltip-message {
    align-self: flex-end;
}

/* if gravity is north */
.dcg-tooltip-gravity-n-s
    .dcg-tooltip-message-container[style="bottom:100%;width:200px;transform:translate(-50%, 0);left:18.224998474121094px;margin-bottom:5px;text-align:center"] {
    margin-bottom: 4px !important;
}

/* if gravity is west */
.dcg-tooltip-gravity-e-w
    .dcg-tooltip-message-container[style="transform:translate(0, -50%);right:100%;width:200px;top:9.5px;margin-right:5px;text-align:right"]
    .dcg-tooltip-message {
    align-self: flex-end;
}
