@font-face {
  font-family: "desom-icons";
  src: url("./desom-icons.woff?25ksiv") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="desom-icons-"],
[class*=" desom-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "desom-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desom-icons-info:before {
  content: "\e901";
}
.desom-icons-calc:before {
  content: "\e902";
}
.desom-icons-save:before {
  content: "\e904";
}
.desom-icons-folder-open:before {
  content: "\e905";
}
