.dcg-header {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  > * {
    flex: 1;
  }

  .desom-icon-btn {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
  }

  .desom-icon-inline {
    all: unset;
    font-size: 1.25rem;
    line-height: 1.25rem;

    &:hover {
      color: #fff;
    }
  }

  .graph-title {
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 5px 0 3px;
    white-space: nowrap;
    height: 46px;
    font-size: 1rem;
    font-weight: 400;
  }

  .left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .center-container {
    display: grid;
    place-content: center;
    .dcg-home-link {
      line-height: 0px;
      .dcg-desmos-svg-logo {
        fill: #ddd;
        filter: drop-shadow(0 1px 1px #000);
        height: 22px;
        &.dcg-hovered {
          fill: #fff;
        }
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 5px;
  }
}
