.dcg-header {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  > * {
    flex: 1;
  }

  .center-div {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .desom-icon-btn {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
  }

  .desom-icon-inline {
    all: unset;
    font-size: 1.25rem;
    line-height: 1.25rem;

    &:hover {
      color: #fff;
    }
  }

  .sidebar-fix {
    margin-inline-start: -5px;
    width: 35px;

    .dcg-icon-hamburger {
      font-size: 115%;
      line-height: 32px;
    }
  }

  .graph-title {
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 5px 0 3px;
    white-space: nowrap;
    height: 46px;
    font-size: 1rem;
    font-weight: 400;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .left-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
  }

  .center-container {
    display: grid;
    place-content: center;
    .dcg-home-link {
      line-height: 0px;
      .dcg-desmos-svg-logo {
        fill: #ddd;
        filter: drop-shadow(0 1px 1px #000);
        height: 22px;
        &.dcg-hovered {
          fill: #fff;
        }
      }
    }

    @media (max-width: 800px) {
      & {
        display: none;
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: right;
    gap: 5px;
  }
}
