.dcg-calculator-api-container .dcg-header.dcg-secure-header .align-left-container {
    display: flex;
    width: auto;
}

.dcg-calculator-api-container .dcg-header .align-left-container .title-div {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 210px;
    padding-right: 0px;
}

.dcg-calculator-api-container .dcg-header .align-left-container .title-div .dcg-config-name {
    margin-left: 10px;
    color: #ddd;
}

.dcg-config-name {
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dcg-calculator-api-container .dcg-header .align-left-container .title-div.dcg-hovered .dcg-config-name.dcg-hovered {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.save-btn-container>.dcg-action-save,
.open-btn-container>.dcg-action-open {
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 32px;
}

.dcg-action-save.dcg-disabled:not(.dcg-btn-green) {
    display: inline-block;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid rgba(136, 136, 136, 0.5);
    color: rgba(136, 136, 136, 0.5);
    cursor: default;
    font-size: 14px;
    line-height: 32px;
}

.dcg-calculator-api-container .dcg-header.dcg-secure-header .align-center-container {
    margin-left: -53px;
}

.dcg-calculator-api-container .dcg-header.dcg-secure-header .align-center-container i {
    filter: drop-shadow(0 1px 1px #000);
    color: #ddd;
    font-size: 663.28%;
    line-height: 21.95px;
}

.dcg-calculator-api-container .dcg-header.dcg-secure-header .align-right-container {
    display: flex;
    align-content: center;
    font-size: 19px;
}

.align-right-container>* {
    margin: 10px 5px;
}

.dcg-icon-screenshot {
    width: 24px;
    height: auto;
    fill: #ffffffe5;
    cursor: pointer;
}

.dcg-icon-screenshot:hover {
    fill: #fff;
}

@keyframes dcg-fadeIn-background {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
    }
}

.dcg-modal-background {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000;
    opacity: 0.7;
    animation: dcg-fadeIn-background 0.3s;
}

@keyframes dcg-fadeIn-modal {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    30% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.dcg-box-modal {
    position: absolute;
    top: 10vh;
    left: 50%;
    width: 486px;
    margin-left: -243px;
    max-height: 85vh;
    overflow: auto;
    z-index: 100;
    padding: 15px 40px 25px;
    font-size: 85%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    color: #444;
    animation: dcg-fadeIn-modal 0.3s;
}

.dcg-icon-remove-custom {
    position: absolute;
    right: 0px;
    top: 14px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    cursor: pointer;
}

.dcg-icon-remove-custom:hover {
    opacity: 0.6;
}

.dcg-icon-remove-custom:before,
.dcg-icon-remove-custom:after {
    position: absolute;
    content: ' ';
    height: 25.5px;
    width: 4.8px;
    background-color: #000;
}

.dcg-icon-remove-custom:before {
    transform: rotate(45deg);
}

.dcg-icon-remove-custom:after {
    transform: rotate(-45deg);
}

.alert-dialog h1 {
    color: #666;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;
    font-size: 27.2px;
}

.alert-content {
    color: #444;
    font-size: 19px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.alert-content * {
    margin: 0;
}

.title-input {
    padding: 7px;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    margin: 5px 0 10px;
}

.title-input:focus {
    border: 1px solid #6399cb;
    box-shadow: inset 0 0 0 1px #6399cb
}

.title-save {
    align-self: end;
    line-height: 32px;
    background: #1aad57;
    color: #fff;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    white-space: nowrap;
    padding: 0 20px;
    user-select: none;
    border-radius: 3px;
    border: none;
    font-size: 13.2px;
    cursor: pointer;
}

.title-save:hover {
    background-color: #179d4f;
}