.dsm-dcg-product {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.dsm-dcg-product i {
  position: absolute;
  top: -2px;
  left: -2px;
  font-size: calc(var(--icon-size, 32px) + 4px);
  color: #fff;
}

.dsm-dcg-product .dcg-icon-graphing {
  background: linear-gradient(330deg, #007c14 6%, #00b21d 75%);
}

.dsm-dcg-product .dcg-icon-geometry {
  background: linear-gradient(330deg, #77109a 6%, #d76ffc 75%);
}

.dsm-dcg-product .dcg-icon-3d {
  background: linear-gradient(330deg, #9a106b 6%, #fc6fe5 75%);
}

.dsm-dcg-product .dcg-icon-scientific {
  background: linear-gradient(330deg, #007955 6%, #00d092 75%);
}

.dsm-dcg-product .dcg-icon-four-function {
  background: linear-gradient(330deg, #00616f 6%, #00a9c0 75%);
}

.dsm-dcg-product .dcg-icon-test-mode {
  background: linear-gradient(330deg, #004dc7 6%, #3684ff 75%);
}

.dsm-dcg-product .dcg-icon-matrix {
  background: linear-gradient(330deg, #2605ab 6%, #8b6ffc 75%);
}
