#desmos_load_errors {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #1aad57;
  color: #eff1f5;
  padding: 20px;
  border-radius: 10px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#desmos_load_errors h1 {
  margin: 0 0 1.25rem 0;
  text-align: center;
}

#desmos_load_errors h2 {
  margin: 0 0 1rem 0;
}

#desmos_load_errors code {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
  font-family: monospace;
  gap: 5px;
  background: #dce0e8;
  color: #4c4f69;
}

#desmos_load_errors code > span {
  list-style: disc;
}
