@import "desmos/calculator.css";
@import "desmos/loading.css";
@import "fonts/style.css";

.dcg-calculator-api-container #geometry-container {
  position: absolute;
  top: 46px;
  left: 0;
  bottom: 0;
  right: 0;
}
