@import "fonts/style.css";
@import "desmos_load_error.css";

.dcg-calculator-api-container #geometry-container {
  position: absolute;
  top: 46px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only print {
  html,
  body,
  .dcg-calculator-api-container .dcg-sliding-interior {
    overflow: visible !important;
    position: relative !important;
  }

  .dcg-calculator-api-container #dcg-header-container,
  .dcg-calculator-api-container #side-bar-container,
  .dcg-calculator-api-container .sidebar-menu-btn {
    display: none !important;
  }
}
