@keyframes desom-fadein-back {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}

.desom-modal-background {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  opacity: 0.7;
  animation: desom-fadein-back 0.3s;
}

@keyframes desom-fadein-modal {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }

  30% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.desom-modal {
  --modal-width: 500px;
  position: absolute;
  top: 10vh;
  left: 50%;
  width: var(--modal-width);
  margin-left: calc(-1 * var(--modal-width) / 2 + 10px);
  max-height: 85vh;
  overflow: auto;
  z-index: 100;
  padding: 15px 40px 25px;
  font-size: 85%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  color: #444;
  animation: desom-fadein-modal 0.3s;

  .close-modal {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #0000004d;
    font-size: 130%;
    padding: 15px;

    &.dcg-hovered {
      color: #0009;
    }

    &:focus {
      color: #000000bf;
      outline: none;
    }
  }

  .modal-dialog h1 {
    color: #666;
    font-weight: 400;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 8px;
  }

  .modal-content {
    color: #444;
    font-size: 1.25rem;
    font-family: Arial, sans-serif;
  }
}

.desom-modal-container {
  &.new-graph-modal {
    .btn-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin-top: 1.75rem;
    }
  }

  &.hotkeys-modal {
    .desom-modal {
      position: absolute;
      top: 25px;
      right: 25px;
      bottom: 25px;
      left: 25px;
      color: #444;
      font-size: 100%;
      padding: 20px 40px 0;

      width: unset;
      margin-left: unset;
      max-height: unset;
      overflow: unset;

      .modal-dialog {
        position: relative;
        // For overflow
        height: calc(100% - 20px);
      }

      .modal-content {
        // For overflow
        height: 100%;
      }

      h1 {
        color: #666;
        text-align: left;
        font-size: 170%;
        font-weight: normal;
        margin-top: 13px;
        margin-bottom: 8px;
      }

      .dcg-hotkeys-toggle-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 500px;
        margin-left: -250px;
        font-size: 15px;
      }

      .dcg-hotkey-container {
        position: absolute;
        top: 40px;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        overflow: auto;

        .dcg-hotkey-section {
          width: 50%;
          padding-bottom: 20px;

          .dcg-hotkey-section-header {
            display: block;
            font-size: 20px;
            font-weight: 500;
            margin: 45px 25px 15px 0;

            &:first-of-type {
              margin-top: 10px;
            }
          }
        }

        .dcg-shortcuts-table {
          font-size: 13.5px;

          .dcg-key-command {
            margin: 0 3px;
          }
        }

        table {
          border-collapse: collapse;
          width: calc(100% - 25px);
        }

        tr {
          border-bottom: 1px solid #eee;
          text-align: left;
        }

        tr td {
          width: 30%;
          line-height: 1.2em;
        }

        tr td:not(:last-of-type) {
          padding: 10px 20px 10px 0;
        }

        tr td:last-of-type {
          padding: 10px 0;
        }
      }
    }
  }

  &.switcher-modal {
    .desom-modal {
      --modal-width: 600px;
    }

    .modal-content {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .desom-calc-btn {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 16px;
      cursor: pointer;

      &[aria-disabled] {
        // pointer-events: none;
        filter: grayscale(1);
        cursor: not-allowed;
      }

      .product-icon {
        display: flex;
        background-color: #f3f2f7;
        border-radius: 50%;

        &.selected {
          background-color: #f0fff7;
        }

        .desom-dcg-product {
          transform: scale(60%);
        }
      }

      .product-label {
        text-align: center;
        margin-top: 4px;
        min-height: 24px;
        height: fit-content;
        line-height: 150%;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
      }
    }
  }
}
